<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>

        <div class="page-one" id="page1">

            <header>
                <a href="#" class="logo">LOGO</a>
                <nav>
                    <ul class="nav-links">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">WORK</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">ABOUT ME</a></li>
                    </ul>
                </nav>
                <a href="/users">SIGN UP</a>
                <a href="/login">LOG IN</a>
            </header>

            <div class="hero-text">
                <b>PLAY TRADITIONAL GAME</b>
                <h5>Experience new traditional game play</h5>
                <a href="/game"><button>TRIAL</button></a>
            </div>

            <div class="scroll-down">
                <h6>THE STORY</h6>
                <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

        </div>

        <div class="page-two" id="page2">

            <div class="page-two-text">
                <h4>What's so special?</h4>
                <h1>THE GAMES</h1>
            </div>

            <div class="page-two-image">
                <img src="/img/home/switch-left.svg">
                <img class="rockpaperstrategy" src="/img/home/rockpaperstrategy-1600.jpg">
                <img src="/img/home/switch-right.svg">
            </div>

        </div>

        <div class="page-three" id="page3">

            <div class="page-three-text">
                <h4>What's so special?</h4>
                <h1>FEATURES</h1>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="timeline-area">
                <div class="timeline-tg">
                    <h2>TRADITIONAL GAMES</h2>
                    <br>
                    <h5>If you miss your childhood, we provide<br>many traditional games here</h5>
                </div>
                <div class="timeline-gs">
                    <h2>GAME SUIT</h2>
                </div>
                <div class="timeline-tbd">
                    <h2>TBD</h2>
                </div>
            </div>

        </div>
        
        <div class="page-four" id="page4">

            <div class="page-four-text">
                <h5> Can my computer run this game?</h5>
                <h2> SYSTEM <br> REQUIREMENTS</h2>
            </div>
            
            <div class="specs">
                <div class="os">
                    <h3>OS:</h3>
                    <h4>Windows 7 64-bit only<br>(No OSX support at this time)</h4>
                </div>
                <br>
                <div class="processor">
                    <h3>PROCESSOR:</h3>
                    <h4>Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</h4>
                </div>
                <br>
                <div class="memory">
                    <h3>MEMORY:</h3>
                    <h4>4 GB RAM</h4>
                </div>
                <br>
                <div class="storage">
                    <h3>STORAGE:</h3>
                    <h4>8 GB available space</h4>
                </div>
                <br>
                <div class="graphics">
                    <h3>GRAPHICS:</h3>
                    <h4>NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4>
                </div>
            </div>

        </div>

        <div class="page-five" id="page5">
            <div class="page-five-text">
                <h1>TOP SCORES</h1>
                <h5>This top score from various games provided<br>on this platform</h5>
                <button>see more</button>
            </div>

            <div class="cards">
                <div class="card-one">
                    <div class="name">Evan Lahti</div>
                    <div class="quote">"One of my gaming highlights of the year."</div>
                    <div class="date">October 18, 2018</div>
                </div>

                <div class="card-two">
                    <div class="name">Jada Griffin</div>
                    <div class="quote">"The next big thing in the world of streaming and survival games."</div>
                    <div class="date">December 21, 2018</div>
                </div>

                <div class="card-three">
                    <div class="name">Aaron Williams</div>
                    <div class="quote">"Snoop Dogg playing the wildly entertaining 'SOS' is ridiculous."</div>
                    <div class="date">December 24, 2018</div>
                </div>
            </div>

        </div>

        <div class="page-six" id="page6">
            
            <div class="page-six-image">
                <img class="statue" src="/img/home/statue-2.jpg">
            </div>

            <div class="page-six-text">
                <h4>Want to stay in touch?</h5>
                <h1>NEWSLETTER <br> SUBSCRIBE</h1>
                <h5>In order to start receiving our news, all you have to do is enter your email <br> address. Everything else will be taken care of by us. We will send you emails <br> containing information about game. We don’t spam.</h6>
            </div>

            <div class="email-address">
                <label for="email">Your email address</label><br>
                <input type="text" id="email" name="email" value="youremail@binar.co.id">
                <button>Subscribe now</button>
            </div>

            <footer>
                <nav>
                    <ul class="footer-links">
                        <li><a href="#page1">MAIN</a></li>
                        <li><a href="#page2">ABOUT</a></li>
                        <li><a href="#page3">GAME FEATURES</a></li>
                        <li><a href="#page4">SYSTEM REQUIREMENTS</a></li>
                        <li><a href="#page5">QUOTES</a></li>
                        <li><img src="/img/home/facebook.svg"></li>
                        <li><img src="/img/home/twitter.svg"></li>
                        <li><img src="/img/home/Vector.svg"></li>
                        <li><img src="/img/home/twitch.svg"></li>
                    </ul>
                </nav>
            </footer>

        </div>

    </body>
</html>
